#mainWrapper,
#mainWrapper2 {
  display: flex;
  position: relative;
  left: -100px;
  transition: 1s;
}
#mainWrapper2 {
  left: 0px;
}
#mostMainDiv {
  min-width: 100% !important;
}
#sideBar {
  min-width: 100px;
}
